<div class="entrance" id="portfolio">
              <div id="sites">
                 <p class="banner"><a href="https://www.flickr.com/photos/129324678@N07/sets/72157650180906100/" target="_blank">Mobile App Development<span>Screenshot Archives App</span></a> </p>
              </div>
              <div id="sites">
                 <p><a href="https://github.com/pondokprogrammer/mobile-dev" target="_blank">Pondokprogrammer<span>Mobile</span></a></p>
             </div>
             <div id="sites">
                 <p><a href="https://creatorb.pondokprogrammer.com" target="_blank">Web Styling<span>Console</span></a></p>
             </div>
             <div id="sites">
                  <p><a href="https://tricktux.blogspot.com" target="_blank">Linux<span>Tutorial Archives</span></a></p>
             </div>
             <div id="sites">
                  <p><a href="http://creatorb.deviantart.com/" target="_blank">Deviantart<span>Digital Art</span></a></p>
             </div>
             <div id="sites">
                  <p><a href="http://productstore.creatorb.cf" target="_blank">Product Store<span>base of CI</span></a></p>
             </div> 
</div>


<a class="port-btn" href="mailto:creatorb45@gmail.com">HIRE ME</a>
